@model Ogrenci

<h2>Öğrenci Sil</h2>
<p>@Model.OgrenciAdi @Model.OgrenciSoyadi adlı öğrenciyi silmek istediğinize emin misiniz?</p>

<form asp-action="Sil" method="post" asp-route-id="@Model.Id" asp-controller="Ogrenci">
    <button type="submit" class="btn btn-danger">Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
