@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1 mb-4">Kütüphane Uygulamasına Hoşgeldiniz</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
